* {
	margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
	font-family: 'Manrope', sans-serif;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.18px;
    color: #21272e;

    min-width: 300px;
}

img {
    max-width: 100%;
}

ul, li {
	display: block;
}

a {
    text-decoration: none;
    color: #21272e;

    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

    font-weight: bold;
}

.container {
	max-width: 1280px;
    width: 100%;

    margin: 0 auto;
    padding: 0 16px;

    text-align: center;

    position: relative;
}

/* Header */

.header {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1000;
    
    width: 100%;
    height: 82px;
}

.header .container {
    height: 100%;
}

.header__inner {
    padding: 0 60px 0 48px;

    height: 100%;

    display: flex;
    justify-content: space-between;
}

.header__inner > * {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__btn {
    padding: 9px 19px 10px 20px;

    letter-spacing: -0.5px;

    border-radius: 6px;
    border: solid 1px rgba(144, 149, 153, 0.35);
    transition: all .3s;
}

.header__btn:hover {
    background-color: rgba(144, 149, 153, 0.2);
}

/* nav */

.nav {
    position: relative;
    padding-left: 40px;
}

.nav::before {
    position: absolute;
    content: '';
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    height: 24px;
    width: 1px;
    background-color: #21272e;
}

.nav__link:first-child {
    margin-right: 27px;
}

.nav__link:last-child {
    margin-left: 7px;
}

.nav__link {
    margin-right: 20px;

    letter-spacing: 0.18px;
    transition: all .3s;
}

.nav__link:hover {
    color: #3897ff;
}

/* intro */

.intro {
    background-image: linear-gradient(0deg,#fff 664px,#fafbfc 0);

    width: 100%;
}

.intro .container {
    padding-top: 195px;
}

.intro__background-cols {
    display: flex;
    justify-content: space-between;
    height: 550px;
    width: calc(100% + 60px);
    transform: translate(-30px, -70px);
}

.intro__left-background-img,
.intro__right-background-img {
    position: relative;
    
    width: 30%;
}

.intro__left-background-img {
    background: url(../img/Boxes.png) no-repeat;
    background-size: 100%;

    transform: translate(-105px, 0px);
}

.intro__right-background-img {
    background: url(../img/Fruits.png) no-repeat;
    background-size: 85%;

    transform: translate(115px, -15px);
}

.intro__dotted-path {
    position: absolute;
    top: 0;

    background: url(../img/line-1.png) 100% 0 no-repeat;
    background-size: 601px 781px;
    background-position: left 588px top 8px;

    z-index: 0;

    height: 789px;
    width: 100%;
}

.intro__inner {
    position: absolute;
    top: 195px;
    left: 50%;

    transform: translateX(-50%);

    width: 812px;
}

.intro__suptitle {
    letter-spacing: 0.7px;

    color: #f43939;
}

.intro__title {
    margin: 14px auto 50px;

    letter-spacing: 0.1px;
    font-size: 2.6rem;
}

.intro__btn {
    padding: 14px 45px 17px;

    font-size: 1rem;

    border-radius: 8px;
    
    background-image: linear-gradient(104deg, #ff474d, #fa4353);
    color: #fff;
}

.intro__btn-description {
    margin-top: 16px;
    color: #909599;

    letter-spacing: 0.2px;
}

.intro__home-page {
    position: relative;
    z-index: 1000;

    width: 84%;

    transform: translateY(-145px);
}

/* section-title */

.section-title {
    font-size: 2rem;
    letter-spacing: 0.7px;
}

/* partners */

.partners {
    transform: translateY(-82px);
}

.partners__dotted-path {
    position: absolute;
    top: -490px;

    height: calc(100% + 490px);
    width: 100%;

    background: url(../img/line-2.png) 100% 0 no-repeat;
    background-size: 963px 1520px;
    background-position: left 219px top 12px;
    
    z-index: 0;
}

.partners__inner {
    width: 1050px;

    margin: 0 auto;
}

.partners__items-container {
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners__item {
    width: 9%;
}

.partners__item_horizontal {
    width: 12%;
}

/* product-present */
.product-present {
    overflow: hidden;

    position: relative;
}

.product-present__dotted-path {
    position: absolute;
    
    background: url(../img/line-2.png) 100% 0 no-repeat;
    background-size: 963px 1520px;
    background-position: left -22px top -702px;
    top: -100px;
    left: 285px;
    height: 1000px;
    width: 100%;
}

ul.product-present__carusel {
    width: 60%;
    
    transform: translateX(7%);

    background-color: rgba(255, 67, 67, 0.253);

    border-radius: 60px;

    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 0 0px auto;
    
}

.product-present__description.active {
    display: block;
}

.product-present__description {
    display: none;

    position: absolute;

    width: 380px;

    top: 155px;
    left: calc( (100vw - 1280px) / 2 + 70px);
}

.product-present__title {
    width: 80%;

    letter-spacing: 0.55px;
}

.product-present__description-text {
    margin-top: 26px;

    line-height: 30px;
    letter-spacing: -0.08px;
    font-size: 1.2rem;
}

.product-present__img-container {
    width: 96%;
    margin: 0 0 0 auto;
    transform: translate(-5.5%, 3.3%);
}

.product-present__img-container_last-item {
    transform: translate(0%, 0%);
}

div.product-present__img-container_last-item img.product-present__img {
    width: 90%;
}

.owl-nav {
    position: absolute;
    bottom: 120px;
    left: -318px;
}

.owl-nav button.owl-prev {
    position: absolute;
    top: 0px;
    left: -135px;
}

.owl-nav button {
    width: 48px;
    height: 48px;

    border: 1px solid #dae1e8 !important;
    border-radius: 50%;

    background-color: #f0f1f2 !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-nav button.disabled {
    background-color: #fff !important;
    color: #dae1e8 !important;
}

.owl-nav span {
    font-size: 1.8rem;
}

.owl-dots {
    position: absolute;
    bottom: 140px;
    left: -382px;
} 

.owl-dot.active {
    background-color: #000 !important;
}

.owl-dot {
    width: 6px;
    height: 6px;
    
    margin-right: 12px;

    border-radius: 50%;
    background-color: rgba(33, 39, 46, 0.15) !important;
} 

/* communication */

.communication {
    margin-top: 120px;

    background-color: #fafafc;

    padding-top: 92px;
    padding-bottom: 82px;
}

.communication .container {
    display: flex;
    justify-content: space-around;
}

.communication__before-content.active,
.communication__after-content.active {
    display: block;
}

.communication__before-content,
.communication__after-content {
    display: none;

    width: 50%;
    height: 410px;

    position: relative;
}

.communication__lottie-player {
    width: 650px;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;

    transform: translate(60px, -60px);
}

.communication__before-content {
    transform: translate(32px, 17px);
}

.communication__before-description-container,
.communication__after-description-container {
    position: absolute;

    bottom: 44px;
    right: -525px;

    width: 400px;

    text-align: left;
}

.communication__after-description-container {
    bottom: 28px;
    right: -556px;
}

.communication__after-description-title,
.communication__before-description-title {
    font-size: 1.1rem;

    letter-spacing: 0.54px;

    padding-bottom: 15px;
}

.communication__before-description-text,
.communication__after-description-text {
    font-size: 1.05rem;

    letter-spacing: 1.12px;

    line-height: 29px;
}

.communication__befor-and-afte-btn-container {
    text-align: left;

    padding-left: 12.55%;

    width: 50%;
}

.communication__before-btn::after {
    position: absolute;
    content: '';
    bottom: -66px;
    left: 0;

    width: 410px;
    height: 1px;

    background-color: #21272e;
}

.communication__before-btn,
.communication__after-btn {
    position: relative;

    text-transform: uppercase;

    font-weight: 700;

    margin-top: 40px;
    margin-right: 20px;
    padding: 16px 36px;

    background-color: rgba(0, 0, 0, 0);
    color: #787c80;

    border: 1px solid #dae1e8;
    border-radius: 8px;
}

.communication__after-btn {
    padding: 16px 40px;
}

.communication__before-btn.active,
.communication__after-btn.active {
    background-color: #fff;
    color: #f43939;
}